<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../assets/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/view.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/add.css"/>
</head>
<body>
<div id="app">
    <div class="header">
        <span>添加用户</span>
    </div>
    <form id="form" onsubmit="">
        <div class="content">
            <table>
                <tr>
                    <td class="text-right">姓名</td>
                    <td class="content_right"><input class="input" name="uName" placeholder="请输入姓名"></td>
                </tr>
                <tr>
                    <td class="text-right">手机号码</td>
                    <td class="content_right"><input class="input" name="uPhone" placeholder="请输入手机号码"></td>
                </tr>
                <tr>
                    <td class="text-right">身份证号码</td>
                    <td class="content_right"><input class="input" name="idNumber" placeholder="请输入证件号码"></td>
                </tr>
                <tr>
                    <td class="text-right">密码</td>
                    <td class="content_right"><input class="input" name="password" placeholder="请输入密码"></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="content_right">
                        <button class="layui-btn layui-btn-blue" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
<script src="/admin/assets/layui.all.js"></script>
<script src="/qrcode/jquery2.1.4.js"></script>
<script src="/layer/layer.js"></script>
<script>
    var form = layui.form, layer = layui.layer;
</script>
<script>
    $(function () {
        $("#form").submit(function () {
            var windowId = layer.load();
            var uName = $("input:eq(0)").val();
            var uPhone = $("input:eq(1)").val();
            var idNumber = $("input:eq(2)").val();
            var password = $("input:eq(3)").val();
            $.post("/user/insert.do",
                {
                    uName: uName,
                    uPhone: uPhone,
                    idNumber: idNumber,
                    password: password
                }, function (data) {
                    layer.close(windowId);
                    layer.msg(data.result);
                    if (data.status == 0) {
                        $("input").val("");
                    }
                });
            return false;
        });
    });
</script>
</body>
</html>
